@model Bank_project.Models.Registration

@{
    ViewBag.Title = "Account Creation";
}

<h2>Create Customer Account</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            @ViewBag.emailexist
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.mobile, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.mobile, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.mobile, "", new { @class = "text-danger" })
            @ViewBag.mobexist
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.aadhar, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.aadhar, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.aadhar, "", new { @class = "text-danger" })
            @ViewBag.aadharexist
        </div>

    </div>



    @*<div class="form-group">
            @Html.LabelFor(model => model.bank_balance,"Bank Balance", htmlAttributes: new {@type="number", @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.bank_balance, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.bank_balance, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })*@
            Male
            @Html.RadioButtonFor(model => model.Gender, "Male")
            Female

            @Html.RadioButtonFor(model => model.Gender, "Female")
            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
        </div>
    </div>
    @*@ViewBag.acctypes*@
    <div class="form-group">
        @Html.LabelFor(model => model.acctype, "Account Type", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.DropDownListFor(model => model.acctype, new SelectList(ViewBag.acctypes, "Value", "Text"), "--select--", new { @class = "form-control" })

            @Html.ValidationMessageFor(model => model.acctype, "", new { @class = "text-danger" })
        </div>
    </div>
    @*<div class="form-group">
        @Html.LabelFor(model => model.role, "Role", htmlAttributes: new { @class = "control-lablel col-md-2" })
        <div class="col-md-10">

            @Html.DropDownListFor(model => model.role, new SelectList(ViewBag.rolelist, "Value", "Text"), "--select--", new { @class = "form-control" })

            @Html.ValidationMessageFor(model => model.role, "", new { @class = "text-danger" })
        </div>
    </div>*@


    @*<div class="form-group">
            @Html.LabelFor(model => model.isActive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.isActive)
                    @Html.ValidationMessageFor(model => model.isActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    <div>
        @Html.ActionLink("Accounts List", "Acclist")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
