@model IEnumerable<Bank_project.Models.Registration>

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>

<div>
      @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <hr />
    <dl class="dl-horizontal">
       @foreach (var item in Model)
       {
        <dt>
            @*@Html.DisplayNameFor(model => model.Name)*@Name
        </dt>

        <dd>
            @Html.DisplayFor(model => item.Name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Email)*@ Email
        </dt>

        <dd>
            @Html.DisplayFor(model => item.Email)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.DOB)*@Date Of Birth
        </dt>

        <dd>
            @Html.DisplayFor(model => item.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => item.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => item.isActive)
        </dd>
       }
    </dl>
       

    @*@using (Html.BeginForm()) {
        @Html.AntiForgeryToken()*@

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    
    }
    

</div>
