@model Bank_project.Models.resultviewmodel
@{ ViewBag.Title = "Details"; }

<h2>Details</h2>
@*<dd>
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd>*@
<table class="table">


    @foreach (var items in Model.Registerview)
    {
<tr>
    <td>
        @*@Html.DisplayNameFor(model => model.Name)*@ Name
    </td>
    <td>
        @*@Html.DisplayFor(model=>items.Name)*@
    </td>
</tr>
                <tr>
                    <td>
                        @*@Html.DisplayNameFor(model => model.DOB)*@ Date of Birth
                    </td>
                    <td>
                        @Html.DisplayFor(model => items.DOB)
                    </td>
                </tr>

                                <tr>
                                    <td>
                                        @*@Html.DisplayNameFor(model => model.Gender)*@ Gender
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => items.Gender)
                                    </td>
                                </tr>
                                                <tr>
                                                    <td>
                                                        @*@Html.DisplayNameFor(model => model.aadhar)*@ Aadhar
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(model => items.aadhar)
                                                    </td>
                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        @*@Html.DisplayNameFor(model => model.accountnumber)*@ Account Number
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(model => items.accountnumber)
                                                                    </td>
                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        @*@Html.DisplayNameFor(model => model.acctypename)*@ Account Type
                                                                                    </td>
                                                                                    <td>
                                                                                        @Html.DisplayFor(model => items.acctypename)
                                                                                    </td>
                                                                                </tr>
                                                                                                <td>
                                                                                                    @*@Html.DisplayNameFor(model => model.bank_balance)*@
                                                                                                </td>
                                                                                                                <td>
                                                                                                                    @Html.DisplayFor(model => items.bank_balance)
                                                                                                                </td>}
</table>



