@model Bank_project.Models.logindetails

@{
    ViewBag.Title = "LoginPage";
}

<h2 class="">Login to your account</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    

<div class="form-horizontal">
    <!--<h4>-->@*logindetails*@<!--</h4>-->
    <hr />
    <div class="@*glyphicon-align-center center-block*@">
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.PasswordFor(model => model.password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.role, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.role, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.role, new SelectList(ViewBag.rolelist, "Value", "Text"), "--select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.role, "", new { @class = "text-danger" })
            </div>
        </div>


        @*<div class="form-group">
                @Html.LabelFor(model => model.LastLoginDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastLoginDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastLoginDate, "", new { @class = "text-danger" })
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.LabelFor(model => model.LoginFailedCount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LoginFailedCount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LoginFailedCount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AccountLocked, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.AccountLocked)
                        @Html.ValidationMessageFor(model => model.AccountLocked, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.LabelFor(model => model.isactive, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.isactive)
                        @Html.ValidationMessageFor(model => model.isactive, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.userid, "userid", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("userid", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.userid, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
            <div class="col-md-offset-2 col-md-10">
                <h5>Don't have an account? <a href="customer">Sign Up Here</a></h5>
            </div>

        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
    <div class="text-danger form-group col-md-offset-2 col-md-10">
        @ViewBag.accountblockmsg
    </div>
    
</div>
}

<div>
    @*@Html.ActionLink("Back to List", "Index")*@
</div>
<div style="float:left">
    @Html.ActionLink("Forgot Password", "forgotpassword")
</div>
@Scripts.Render("~/bundles/jqueryval")
