@model Bank_project.Models.Registration

@{
    ViewBag.Title = "empdetails";
}

<h2>Employee Details</h2>

<table class="table">


    @*@foreach (var items in Model)*@
    @*{*@
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Name)
        </td>
        <td>
            @Html.DisplayFor(model => Model.Name)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Email)
        </td>
        <td>
            @Html.DisplayFor(model => Model.Email)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.role)
        </td>
        <td>
            @Html.DisplayFor(model => Model.role)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.DOB)
        </td>
        <td>
            @Html.DisplayFor(model => Model.DOB)
        </td>
    </tr>

    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Gender)
        </td>
        <td>
            @Html.DisplayFor(model => Model.Gender)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.aadhar)
        </td>
        <td>
            @Html.DisplayFor(model => Model.aadhar)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.accountnumber)
        </td>
        <td>
            @Html.DisplayFor(model => Model.accountnumber)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.acctypename)
        </td>
        <td>
            @Html.DisplayFor(model => Model.acctypename)
        </td>
    </tr>
    @*<td>
            @Html.DisplayNameFor(model => model.bank_balance)
        </td>*@
    @*<td>
            @Html.DisplayFor(model => Model.bank_balance)
        </td>*@
</table>
