
@{
    ViewBag.Title = "Index";
}


Welcome @ViewBag.Email

@*<div>
    @Html.ActionLink("Create Role", "rolecreate")
</div>
<div>
    @Html.ActionLink("Create Account Types", "actypcreate")*@
@*</div>*@

<div>
    @Html.ActionLink("Account Types", "Accounttypelist")
</div>
<div>
    @Html.ActionLink("Roles", "roleslist")
</div>
<div>
    @Html.ActionLink("Accounts List", "Employees")
</div>
<div>

    @Html.ActionLink("Back to List", "Index")
</div>
