<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Bank Name</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*@RenderSection("Scriptfortrtype", required: false)*@
    <style>
        body {
            padding-bottom: 110px;
        }
    </style>
</head>

<body>
    <div class="navbar @*navbar-inverse*@ bg-success navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Bank Name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*@if (User.Identity.IsAuthenticated)*@
                    @*@if (Session["Email"] == null)
                        {*@
                    @*<li>@Html.ActionLink("Login", "LoginPage", "Home")</li>*@
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @*}
                        else
                        {*@
                    @Html.Partial("_LoginPartial")

                    @*<li>@Html.ActionLink("Get Employee List", "Index", "Officer")</li>
                        <li>@Html.ActionLink("Add Employee", "Create", "Officer")</li>*@
                    <!--<li><a>Hello @Session["Email"]--> @*@User.Identity.Name*@
                    <!--</a></li>
                    <li style="margin-right:30px">@Html.ActionLink("Logout", "Logout", "Home")</li>-->
                    @*}*@
                </ul>


                @*<li>@Html.ActionLink("AccountTypes", "actypcreate", "admin")</li>*@
                @*@if(Session[Email]==null)
                      {
                      <li><a href="login.aspx">Login / Register</a></li>
                    } else {
                      <li><a href="logout.aspx">Logout</a></li>
                      }*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content" ;">
        @RenderBody()
        <hr />


        <!-- Footer -->
        <footer class="text-center text-lg-start bg-primary text-muted bottom ">
            <!-- Section: Social media -->
            <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                <!-- Left -->
                <div class="me-5 d-none d-lg-block">
                    <span>Get connected with us on social networks:</span>
                </div>
                <!-- Left -->
                <!-- Right -->
                <div>
                    <a href="" class="me-4 text-reset">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
                <!-- Right -->
            </section>
            <!-- Section: Social media -->
            <!-- Section: Links  -->
            <section class="">
                <div class="container text-center text-md-start mt-5">
                    <!-- Grid row -->
                    <div class="row mt-3">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <!-- Content -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                <i class="fas fa-gem me-3"></i>Bank name
                            </h6>
                            <p>
                                “Good Banking is produced not by good laws, but by good bankers.” ― Hartley Withers
                            </p>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                Products
                            </h6>
                            <p>
                                <a href="#!" class="text-reset" style="color:white">Withdrwaw</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset"style="color:white">Deposit</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset" style="color:white">Loans</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset" style="color:white">Fixed Deposits</a>
                            </p>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                Useful links
                            </h6>
                            <p>
                                <a href="#!" class="text-reset" style="color:white">Login</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset" style="color:white">Settings</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset" style="color:white">Orders</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset" style="color:white">Help</a>
                            </p>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                Contact
                            </h6>
                            <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                            <p>
                                <i class="fas fa-envelope me-3"></i>
                                info@example.com
                            </p>
                            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
            </section>
            <!-- Section: Links  -->
            <!-- Copyright -->
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
                © 2022 Copyright
             
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles")*@
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
    <script>
    //session end
    var sessionTimeoutWarning = @Session.Timeout- 1;

    var sTimeout = parseInt(sessionTimeoutWarning) * 60 * 1000;
    setTimeout('SessionEnd()', sTimeout);

    function SessionEnd() {
        window.location = "/Home/Logout";
    }
    </script>
</body>
</html>
